<div class="hero">
	<h1 class="title" style="margin-left: 30px">Junior Full-Stack Developer</h1>
</div>
<div>
	<div class="columns" id="biog">
		<div class="column is-hidden-mobile" style="margin-top: 15px">
			<img id="profilepic" src="client/images/profile2.jpg" style="height: 400px; margin-bottom: 5px">
			<a href="https://github.com/Mholliday6611"><img class="logos" src="client/images/git.png" style="height: 100px"></a>
			<a href="https://www.linkedin.com/in/malcolm-holliday/"><img class="logos" src="client/images/link.png" style="height: 100px"></a>
			<a href="mailto:Mholliday6611@gmail.com"><img class="logos" src="client/images/mail.png" style="height: 100px"></a>
		</div>
		<div class="column is-hidden-tablet" style="margin-top: 15px">
			<img id="profilepic" src="client/images/profile2.jpg" style="height: 300px; margin-bottom: 5px">
			<a href="https://github.com/Mholliday6611"><img class="logos" src="client/images/git.png" style="height: 50px"></a>
			<a href="https://www.linkedin.com/in/malcolm-holliday/"><img class="logos" src="client/images/link.png" style="height: 50px"></a>
			<a href="mailto:Mholliday6611@gmail.com"><img class="logos" src="client/images/mail.png" style="height: 50px"></a>
		</div>
		<div class="column">
			<div class="card" style="margin-bottom: 25px">
				<div class="card-content">
					<p>I'm a Full Stack Web Developer specializing in Back-End Web Development. I utilize Python using the Django framework and JavaScript with Node and Angular. Currently I’m learning Cross Platform Development with React to develop apps for both Android and IOS as well as dynamic web pages.</p>
				</div>
			</div>
				<br>
			<div class="card">
				<div class="card-content">
					<p>I've always had an interest in technology and its progression , around a year ago, I decided to learn computer programming and join the growth of tech. I am determined and constantly learning to create an impact in any team. I'm looking for entry-level opportunities in creative startups to help build the best possible products people care for.</p>
				</div>
			</div>
		</div>
	</div>
</div>
